.carousel {
	overflow-x: scroll;
	white-space: nowrap;
}

.carousel > div {
	display: inline-block;
	margin-right: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.carousel {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
