.parentCard {
	display: flex;
	flex-direction: column;
}

.imageWrapper {
	border-radius: 6px;
	box-shadow: 0 4px 4px gray;
	background-color: rgb(119, 134, 153);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 100%;
}

.description {
	overflow: hidden;
}
